*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Oswald';
    src: url('./fonts/Oswald-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Oswald';
    src: url('./fonts/Oswald-SemiBold.ttf');
    font-weight: 600;
}


@font-face {
    font-family: 'Oswald';
    src: url('./fonts/Oswald-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Oswald';
    src: url('./fonts/Oswald-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url('./fonts/Oswald-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.otf');
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald';
    font-weight: 400;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #FFF;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2;
    color: #FFF;
}

.btn {
    font-family: 'Oswald';
    font-size: 30px;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #e8631c;
    padding: 20px 15px;
    min-width: 326px;
    text-align: center;
}

.header {
    padding: 265px 0 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    font-size: 125px;
    font-family: "Oswald";
    margin-bottom: 35px;
}

.header p {
    font-size: 30px;
    margin-bottom: 30px;
}

.section {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.section .content-header {
    text-align: center;
    margin-bottom: 85px;
}

.section .content-header h2 {
    font-family: "Oswald";
    font-size: 75px;
    font-weight: 700;
}

.section .content-header p {
    font-size: 30px;
}

.tour .content-block .inner-img {
    overflow: hidden;
    position: relative;
}

.tour .content-block img {
    transition: all .3s;
}

.tour .content-block:hover img {
    transform: scale(1.5);
}

.tour .content-block .inner-content {
    background-color: #303030;
    padding: 35px 8px 26px;
    text-align: center;
}

.tour .content-block .inner-content h3 {
    font-size: 37px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.tour .content-block .inner-content p {
    font-size: 22px;
}

.pricing .card {
    background-color: #e8631c;
    padding: 64px 25px 27px;
    border-radius: 4px;
    transition: all .3s;
}

.pricing .card:hover {
    background-color: #303030;
    box-shadow: 0 0 10px #e8631c;
}

.pricing .card img {
    height: 132px;
    width: auto;
    margin: 0 auto 60px;
    display: block;
}

.pricing .card h3 {
    font-size: 37px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}

.pricing .card p {
    font-size: 21px;
    text-align: center;
}

.pricing .card span {
    text-align: center;
    background-color: #303030;
    display: block;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 25px;
    line-height: 1;
    padding: 20px 15px;
    border-radius: 4px;
    margin-top: 24px;
    transition: background .3s;
}

.pricing .card:hover span {
    background-color: #e8631c;
}

.block-img {
    min-height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-img .content {
    flex: 0 0 50%;
    max-width: 50%;
    min-height: inherit;
}

.block-img .content.content-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-img-left .content.content-text {
    padding-left: 84px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block-img-right .content.content-text {
    padding: 0 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block-img .content.content-text h2 {
    font-weight: 700;
    font-size: 75px;
    margin-bottom: 60px;
}


.block-img .content.content-text p {
    font-size: 25px;
    margin-bottom: 60px;
}


.block-img .content.content-text a {
    display: inline-block;
    background-color: #303030;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 29px;
    line-height: 1;
    text-transform: uppercase;
    padding: 17.5px 15px;
    max-width: 320px;
    text-align: center;
    transition: all .3s;
    border-radius: 4px;
}

.block-img .content.content-text a:hover {
    background-color: #FFF;
    color: #303030;
    box-shadow: 0 0 10px #e8631c inset;
    
}

@media screen and (max-width: 767px) {
    .header {
        padding: 172px 0;
    }

    .header h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .header p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .btn {
        font-size: 16px;
        min-width: 200px;
        padding: 15px 15px;
    }

    .section .content-header {
        margin-bottom: 40px;
    }

    .section .content-header h2 {
        font-size: 30px;
    }

    .section .content-header p {
        font-size: 16px;
    }

    .tour .content-block .inner-content h3 {
        font-size: 25px;
    }

    .tour .content-block .inner-content p {
        font-size: 16px;
    }

    .tour .content-block {
        margin-bottom: 15px;
    } 
}
